{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      :root {
        --main-color: #fafafa;
        --bg-color: rgb(213, 210, 190);
        --accent-color: #8ab57f;
      }
    </style>
    <link
      rel="stylesheet"
      href="{% static 'style/main.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/shade.css' %}"
      type="text/css"
    />
  </head>

  <body>
    <nav>
      <div class="logo">
        <a href="{% url 'home' %}">Isaac</a>
      </div>
      <div class="nav-content">
        <a href="/admin">Login</a>
      </div>
    </nav>
    <div class="content">{% block content %} {% endblock content %}</div>
    {% block returnupbtn %} {% include 'returnupbtn.html' %} {% endblock returnupbtn %}
  </body>
</html>
