<btn id="returntotop" onclick="returntotop()">Return to top</btn>
<script>
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 10 ||
      document.documentElement.scrollTop > 10
    ) {
      document.getElementById("returntotop").style.bottom = "0%";
    } else {
      document.getElementById("returntotop").style.bottom = "-10%";
    }
  }

  function returntotop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
