<btn id = "returntotop" onclick="returntotop()">Return to top</btn>
<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
            document.getElementById("returntotop").style.bottom = "0px";
            document.getElementById("returntotop").style.backgroundColor = "rgba(0, 0, 0, 0.5";
        } else {
            document.getElementById("returntotop").style.backgroundColor = "rgba(0, 0, 0, 0.0";
            document.getElementById("returntotop").style.bottom = "-10px";
        }
    }

    function returntotop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>